.contenedor-playGround{
  display: grid;
  grid-template-rows: auto 2fr auto;
  gap: 30px;
  width: 100%;
  min-height: 100vh;
  padding-left: 27px;
  padding-right: 27px;
  padding-top: 27px;
  box-sizing: border-box;
  justify-items: center;
  align-items: start;
}
x-encabezado{
  width: 100%;
}
.contenedor-playGround-texto{
  max-width: 980px;
  font-family: "American Typewriter", "Courier New", Courier, monospace;
  font-weight: 600;
  font-size: 40px;
  line-height: 100%;
  text-align: center;
  overflow: hidden;
  display: block;
}
mi-boton {
  width: 100%;
  max-width: 404px;
}